<div id="div_form"> 

  <% # builder: LabellingFormBuilder %>
  <%= form_for(@user) do |f| %>
  
  <!--
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  -->

    <div class="for_field_input">
      <div class="label_for_field_input">        
        <%= f.label :name, "Имя:"  %>
      </div>      
      <span class="error_text">
        <%= @user.errors[:name].each {|msg| msg} if @user.errors[:name].any? %>
      </span>  		
      <%= f.text_field :name, class: "field_input" %>      
    </div>
  
    <div class="for_field_input">
      <div class="label_for_field_input">
        <%= f.label :email, "Email:"  %>
      </div>
      <span class="error_text">
        <%= @user.errors[:email].each {|msg| msg} if @user.errors[:email].any? %>
      </span>
      <%= f.text_field :email, class: "field_input" %>      
    </div>

    <div class="for_field_input">
      <div class="label_for_field_input">
        <%= f.label :password, "Пароль:" %>
      </div>
      <span class="error_text">
        <%= @user.errors[:password].each {|msg| msg} if @user.errors[:password].any? %>
      </span>
      <%= f.password_field :password, class: "field_input" %>      
    </div>

    <div class="for_field_input">
      <div class="label_for_field_input">
        <%= f.label :password_confirmation, "Повтор:" %>
      </div>
      <span class="error_text">
        <%= @user.errors[:password_confirmation].each {|msg| msg} if @user.errors[:password_confirmation].any? %>
      </span>
      <%= f.password_field :password_confirmation, class: "field_input" %>      
    </div>

    <%= f.submit "Принять", class: "submit" %>

  <% end %>

</div>