<p>
    <b><%= @film.name_rus %></b>
    <br />
    <span style="color: #808080;"><%= @film.name_eng %></span>       
</p>

<p>
    <b>Режиссер:</b> <%= @film.producer %>
</p>

<p>
    <b>Год:</b> <%= @film.year %>
</p>

<p>
    <b>Премьера в РФ:</b> <%= @film.russian_premiere %>
</p>

<p>
    <b>Полное описание:</b>
    <br />
    <%= @film.full_description %>
</p>

<p>     
    <%= link_to("Посмотреть на www.kinopoisk.ru", @film.link_to_kinopoisk ) %>
</p>