<%= form_for(@comment) do |f| %>                
    
    <%= f.text_area :text, id: "text_area_for_comment", placeholder: "Отзыв появится после проверки модератором." %>               

    <%= f.hidden_field :user_id, value: current_user().id %>
    <%= f.hidden_field :film_id %>
  
    <%= f.submit "Положительный", id: "submit_up_for_comment", class: "submit_for_comment", style: "float: left;" %>

    <%= f.submit "Отрицательный", id: "submit_down_for_comment", class: "submit_for_comment" %>

    <!--<div class="clear"></div>-->

<% end %>
