<div id="div_menu_films">
    <ul id="ul_menu_films">
        <% @films.each do | film | %>
            <li class="li_menu_films">

                <div class="div_image_at_menu_films">
                    <%= image_tag(film.image, class: "image_at_menu_films") %>   
                </div>  

                <div class="div_options_at_film">

                    <div class="div_description_of_film">
                        <div class="div_my_description_of_film">  
                            <%= link_to("#{film.name} (#{film.year})", film_path(film), { class: "a_film_name" }) %>            
                            <p class="p_description_of_film">Режиссер: такой то</p>
                            <p class="p_description_of_film"><%= film.short_description %> aaaaaaaaaaa aaaaaaaaaaa aaaaaaaa aaaaaaaa aaaaaaaaaa aa aaaaaaa aaaaaa aaaaa aaaaaaaa aaaa aaaaaaaa aaaa aaaa aaaaaa aaaaa aaaaaaa aaaa aaaaa aaaaaaaa aaaa aaaaaaaa aaaa aaaa aaaaaa aaaaa aaaaaaa aaaa aaaaaaaa aaaa aaaaaaaa aaaa aaaa aaaaaa aaaa</p>                        
                        </div>
                        <%= link_to("Посмотреть на www.kinopoisk.ru", film.link_to_kinopoisk, { class: "a_film_kinopoisk" }) %>

                    </div>

                    <div class="div_vote">
                        <div class="div_vote_up">Понравился<br />(111)</div>
                        <div class="div_vote_down">Не понравился<br />(333)</div>
                    </div>
                </div>

            </li>
            <div class="clear"></div>  
        <% end %>
    </ul>
    <br /><br /><br />
</div>


<!--

<h1>Listing films</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Short description</th>
      <th>Full description</th>
      <th>Link to kinopoisk</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%= film.name %></td>
        <td><%= film.year %></td>
        <td><%= film.short_description %></td>
        <td><%= film.full_description %></td>
        <td><%= film.link_to_kinopoisk %></td>
        <td><%= link_to 'Show', film %></td>
        <td><%= link_to 'Edit', edit_film_path(film) %></td>
        <td><%= link_to 'Destroy', film, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Film', new_film_path %>

-->