<div id="div_show_film">   

    <div id="div_image_at_show_film">
        <%= image_tag(@film.image, id: "image_at_show_film") %>   
    </div>  

    <div id="div_description_at_show_film">

        <p>
            <b><%= @film.name %></b>      
        </p>

        <p>
            <b>Режиссер:</b> <%= @film.producer %>
        </p>

        <p>
            <b>Год:</b> <%= @film.year %>
        </p>

        <p>
            <b>Полное описание:</b>
            <br />
            <%= @film.full_description %>
        </p>

        <p>     
            <%= link_to("Посмотреть на www.kinopoisk.ru", @film.link_to_kinopoisk, { class: "a_film_kinopoisk" }) %>
        </p>

    </div>  

    <div class="clear"></div>  

    <div id="div_comments">

        <div id="form_for_create_comment">

            <% if signed_in? %>                  
                <%= render "form_for_comment" %>
            <% else %>
                <p>Только зарегистрированные пользователи могут голосовать и оставлять комментарии...</p>
            <% end %>    

        </div>

        <div id="div_all_comments_for_film">            

            <% if ( @comments.any? ) %> 
                <%= render "comments" %>  
            <% else %>
                <p>Комментариев пока нет...</p>
            <% end %>
        
        </div>

    </div>

</div>

<!--

<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>

-->