<div id="div_wrapper_show_film">   

    <div id="div_wrapper_for_image_show_film">
        <%= image_tag(@film.image, id: "image_at_show_film") %>   
    </div>  

    <div id="div_wrapper_for_description_show_film">
        <%= render "description_at_show_film" %>
    </div>  

    <% if signed_in? %>          
        <div id="div_wrapper_for_form_create_comment">        
            <%= render "form_for_comment" %>
        </div>
    <% else %>
        <p>Только зарегистрированные пользователи могут голосовать и оставлять комментарии...</p>
    <% end %>       
               

    <% if ( @comments.any? ) %> 
        <div id="div_wrapper_for_all_comments"> 
            <%= render "all_comments" %>  
        </div>
    <% else %>
        <p>Комментариев пока нет...</p>
    <% end %>
          
</div>

<!--

<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>

-->