<%= link_to(films_path(year_from: "1960", year_to: "2014")) do %>
 	<div class="div_select_year">
 		1960<br />-<br />2014
 	</div>
<% end %>

<%= link_to(films_path(year_from: "1960", year_to: "1990")) do %>
	<div class="div_select_year">
		1960<br />-<br />2014
	</div>
<% end %>

<%= link_to(films_path(year_from: "1990", year_to: "2000")) do %>
	<div class="div_select_year">
		1960<br />-<br />2014
	</div>
<% end %>

<%= link_to(films_path(year_from: "2000", year_to: "2010")) do %>
	<div class="div_select_year">
		1960<br />-<br />2014
	</div>
<% end %>

<%= link_to(films_path(year_from: "2010", year_to: "2014")) do %>
	<div class="div_select_year">
		1960<br />-<br />2014
	</div>
<% end %>

<%= link_to(films_path(year_from: "2014", year_to: "2014")) do %>
	<div class="div_select_year">
		1960<br />-<br />2014
	</div>
<% end %>
