<%= link_to(films_path(year_from: "1960", year_to: "2014")) do %>
 	<div class="div_bt_show_future_in_cinemas">Скоро в кинотеатрах:</div>
<% end %>

<div class="div_element_right_panel">
	<%= image_tag "mnogonogka_1.png", class: "img_top_of_element_right_panel" %>
	<div class="div_bottom_of_element_right_panel">Описание</div>
</div>

<div class="div_element_right_panel">
	<%= image_tag "mnogonogka_1.png", class: "img_top_of_element_right_panel" %>
	<div class="div_bottom_of_element_right_panel">Описание</div>
</div>

<div class="div_element_right_panel">
	<%= image_tag "mnogonogka_1.png", class: "img_top_of_element_right_panel" %>
	<div class="div_bottom_of_element_right_panel">Описание</div>
</div>

<div class="div_element_right_panel">
	<%= image_tag "mnogonogka_1.png", class: "img_top_of_element_right_panel" %>
	<div class="div_bottom_of_element_right_panel">Описание</div>
</div>