<!DOCTYPE html>
<html>
<head>
  	<title>horrorpoisk</title>
  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
</head>
<body>

	<div id="wrapper">	

		<div id="div_background">
			
		</div>

		<div id="div_yield">				
			<%= yield %>						
 		</div>

		<div id="div_navigation_top"> 			
			<ul id="ul_navigation_top">
				<li class="li_navigation_top"><%= link_to("Главная", root_path, class: "a_navigation_top") %></li>
				<li class="li_navigation_top"><%= link_to("Вход", new_session_path, class: "a_navigation_top") %></li>
				<li class="li_navigation_top"><%= link_to("Регистрация", new_user_path, class: "a_navigation_top") %></li>				
			</ul>
 		</div>	

 		<div id="div_select_year">
 			<ul id="ul_select_year">
 				<li class="bt_select_year"><%= link_to("1960 - 2014", films_path(year_from: "1960", year_to: "2014")) %></li>
 				<li class="bt_select_year"><%= link_to("1960 - 1990", films_path(year_from: "1960", year_to: "1990")) %></li>
 				<li class="bt_select_year"><%= link_to("1990 - 2000", films_path(year_from: "1990", year_to: "2000")) %></li>
 				<li class="bt_select_year"><%= link_to("2000 - 2010", films_path(year_from: "2000", year_to: "2010")) %></li>
 				<li class="bt_select_year"><%= link_to("2010 - 2014", films_path(year_from: "2010", year_to: "2014")) %></li>
 				<li class="bt_select_year"><%= link_to("2014", films_path(year_from: "2014", year_to: "2014")) %></li>
 			</ul>
 		</div>		

		<!--
		<div class="clear"></div>	
		<div><%= debug(params) if Rails.env.development? %></div>
		-->

	</div>

	
	

</body>
</html>
